.personal-main-container * {
  padding: 0;
  margin: 0;
}
.personal-main-container .top {
  width: 100%;
  height: 85vh;
  display: flex;
}

.top .personal-text-container {
  width: 50%;
  margin-top: 70px;
  font-size: 40px;
  text-align: left;
  padding-left: 30px;
}

.top .personal-text-container h1 + p {
  font-weight: 600;
}

.top .personal-img-container {
  width: 50%;
}

.top .personal-img-container img {
  margin-top: 5%;
  width: 100%;
  height: 90%;
}

.personal-main-container .mid {
  width: 100%;
  height: 50vh;
  background-color: #000000;
  color: white;
}

.personal-main-container .mid > p {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.mid .services-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.mid .services-container div {
  width: fit-content;
}
.mid .services-container h3 {
  text-align: center;
}
.mid .services-container img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-left: auto;
}
.personal-main-container .bottom {
  width: 100%;
  height: 60vh;
  background-color: white;
  color: black;
}
.personal-main-container .bottom div iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60vh;
}

.personal-main-container .footer {
  width: 100%;
  height: 10vh;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .personal-main-container .top {
    width: 100%;
    height: fit-content;
    display: block;
  }
  .top .personal-text-container {
    width: 100%;
    padding-left: 20px;
    margin-top: 20px;
  }
  .top .personal-img-container {
    width: 100%;
  }

  .top .personal-text-container {
    font-size: 24px;
  }

  .top .personal-text-container h1 {
    font-size: 42px;
  }

  .personal-main-container .mid {
    height: max-content;
    padding-bottom: 20px;
  }
  .mid .services-container {
    flex-flow: column wrap;
  }
  .mid .services-container div {
    align-self: center;
    padding-bottom: 5px;
  }
  .personal-main-container .bottom {
    height: 40vh;
  }
  .personal-main-container .bottom div iframe {
    height: 50vh;
  }
  #btm {
    margin-bottom: 80px;
  }
}
